@model IEnumerable<LoteriasItix.Models.Sorteio>

@{
    ViewBag.Title = "Index";
}

<body background="~/Content/Images/Loteria.jpg" style="background-size:1400px 800px; background-repeat:no-repeat">
    <h2>Central de Sorteios</h2>

    <p>
        <a class="btn btn-default" href="/Sorteios/Create">Novo Sorteio</a>
    </p>
    <table class="table" style="background-color:cornsilk; opacity: 0.9;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SorteioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="padding-top:2%; padding-left:6%">
                    @Html.DisplayFor(modelItem => item.SorteioId)
                </td>
                <td style="padding-top:2%">
                    @Html.DisplayFor(modelItem => item.Numeros.N1)
                    @Html.DisplayFor(modelItem => item.Numeros.N2)
                    @Html.DisplayFor(modelItem => item.Numeros.N3)
                    @Html.DisplayFor(modelItem => item.Numeros.N4)
                    @Html.DisplayFor(modelItem => item.Numeros.N5)
                    @Html.DisplayFor(modelItem => item.Numeros.N6)
                </td>
                <td style="padding-top:2%">
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.SorteioId }, new { @class = "btn btn-default" }) |*@
                    @Html.ActionLink("Ganhadores", "Details", new { id = item.SorteioId }, new { @class = "btn btn-default" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.SorteioId }, new { @class = "btn btn-default", @style = "display:none" })
                </td>
            </tr>
        }

    </table>
    </body>