<!DOCTYPE html>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="margin-right:0px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Itix Loterias", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="color:#3498db">
                <ul class="nav navbar-nav" style="color:#3498db;">
                    <li>@Html.ActionLink("Central de Apostas", "Index", "Apostas")</li>
                    <li>@Html.ActionLink("Central de Sorteios", "Index", "Sorteios")</li>
                </ul>
                <img src="~/Content/Images/itix.png" alt="Itix" id="itix"  style="float:right; height:8%; width:16%; cursor:pointer">                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="color:black">
            <p>&copy; @DateTime.Now.Year - Ronaldo Cohin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#itix")
            .click(function () {

                window.open('http://www.itixti.com.br', '_blank');

            });

    });
</script>
